<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System.Configuration.ConfigurationManager, Version=5.0.0.0, Culture=neutral, PublicKeyToken=cc7b13ffcd2ddd51" >
            <section name="Krosis_Media_Player.Properties.Settings" type="System.Configuration.ClientSettingsSection, System.Configuration.ConfigurationManager, Version=5.0.0.0, Culture=neutral, PublicKeyToken=cc7b13ffcd2ddd51" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>

    </userSettings>
  <connectionStrings>
    <add name="KrosisDBKrosisDB" connectionString="Data Source=DESKTOP-2CB10M9;Initial Catalog=Krosis_DB;Integrated Security=True"/>
    <add name="KrosisDB" connectionString="Data Source=DESKTOP-GAHK8CT;Initial Catalog=Krosis_DB;Integrated Security=True"/>
    
  </connectionStrings>
</configuration>